<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link
			rel="stylesheet"
			href= "{{ url_for('static',filename='welcome.css') }}"
			
		/>

    <title>DSCreateAdministrator</title>
    
</head>
<body>
  
   
    <form method="post" >

    <div class="form">
        <div class="subtitle">Create a new administrator</div>
        
            <div class="input-container ic2">
                <input id="usernameA" name="usernameA" class="input" type="text" placeholder=" " />
                <div class="cut"></div>
                <label for="usernameA" class="placeholder">Username</label>
                </div>
                <div class="input-container ic2">
                    <input id="emailA" name="emailA" class="input" type="text" placeholder=" " />
                    <div class="cut"></div>
                    <label for="emailA" class="placeholder">email</label>
                    </div>
            <div class="input-container ic2">
                    <input id="passwordA" name="passwordA" class="input" type="password" placeholder=" " pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                    required />
                    <div class="cut"></div>
                    <label for="passwordA" class="placeholder">Τemporary Password</label>

                    
                      </div>  
                      <button type="submit" class="submit">Create</button>
                    </div>  
                    
              
    
            
    </div>
</form>


    
    
</body>
</html>

